
.aboutMeGrid {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 8px;  
    background-color: #FFF;
  }

  .tttest {
    background-color: blueviolet;
  }

  #techTitle {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    padding-bottom: 3%;
  }



  .aboutMeMobileSize {
    font-size: 19.5px;
    color: white;
  }

  #aboutMeMobile {
    display: none;
  }

  .aboutMeMobileText {
    padding-left: 3%;
  }

  @media screen and (max-width: 720px) {
    .aboutMeGrid {
      display: none;
    }

    #techTitle {
      color: orange;
    }

    #AboutMe {
      display: none;
    }

    #aboutMeMobile {
      display: inline;
    }



    
  }
  
  
  .aboutMeGrid div {
    background-color: #00002E;
  }
  
  .aboutMeGrid h3 {
    margin: 0%;
    background-color: #00002E;
  }
  
  
  
  .fitDiv {
    padding: 5%;
  }
  
  .techDiv {
    padding: 5%;
  }
  
  #fitTitle {
    padding-left: 10px;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    padding-bottom: 3%;
  
  }
  
  .techColumn {
    grid-column: 1;
    grid-row: 2;
  }
  
  .fitColumn {
    grid-column: 2;
    grid-row: 2;
  }
  
  #science {
    grid-row: 5;
  }
  
  #maths {
    grid-row: 6;
  }
  
  .test {
    padding: 0%;
  }
  
  #english {
    grid-row: 7;
  }