
.homeTextDiv {
  margin-top: 5%;
  /* margin-left: 10%; */
  text-align: center;

}

.listItemBp {
  margin: auto;
  margin-top: 5%;
}

#DmTitle {
  padding-top: 2%;
  text-align: center;
  font-weight: bolder;
  font-size: 58px;
  margin-top: 0%;
}

.homePortfolioDiv {
  padding: 2%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homePortfolioProject {
  width: 250px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #23236D;
border-radius: 5%;
}

.portfolioIcon {
  font-size: 70px;
  padding: 0%;
  color: white;
}

#viewProjectBtnHome {
  height: 40px;
  width: 160px;
  border-radius: 40px;
  border: none;
  background-color: #060537;
  color: #FFF;
  font-size: larger ;
}

#viewSrcCodeBtnHome {
  height: 40px;
  width: 180px;
  border-radius: 40px;
  border: none;
  background-color: #060537;
  color: #FFF;
  font-size: larger ;
}




/* big screen */

@media screen and (max-width: 1600px) {

  

  #DmTitle {
    padding-top: 2%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 85px;
  }
  


}


@media screen and (max-width: 1030px) {

  
  
  .homePortfolioDiv {
    padding: 2%;
   
    height: 50%;
    display: none;
    

  }


}

/* small screen */

@media screen and (max-width: 1800px) {

  

  #DmTitle {
    padding-top: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
  }
  


}


/* #DmTitle {
   padding-top: 5%; 
   color: white; 
  text-align: center;
  font-weight: bolder;
  font-size: 55px;
} */



#homePortfolioDisplays {
  padding-top: 5%;
  display: flex;
  gap: 40px;
  justify-content: center;
}

#homePortfolioDisplays div {
  padding: 15px;
  height: 370px;
  width: 260px;
  border-radius: 20px;
}


#calculatorAppOnHomePage {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #463A92;
}


#homePortfolio1 {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #463A92;
}

#homePortfolio2 {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #463A92;
}

.homeportfolioIcon {
  font-size: 50px;
  padding: 0%;
  color: white;
}

#viewProjectBtn {
  height: 50px;
  width: 180px;
  border-radius: 40px;
  border: none;
  background-color: #060537;
  color: #FFF;
  font-size: larger ;
}

#viewSrcCodeBtn {
  height: 50px;
  width: 180px;
  border-radius: 40px;
  border: none;
  background-color: #060537;
  color: #FFF;
  font-size: larger ;
}

.makeCenter {
  text-align: center;
}
