.cvLinkDiv {
    margin-top: 10%;
    text-align: center;
  }
  
  #cvLink {
    font-size: 20px;
    color: #FFF;
  }
  
  #emailLink {
    font-size: 20px;
    color: #FFF;
  }
  
  .phoneLinkDev {
    margin-top: 3%;
    text-align: center;
  }
  