/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

 
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: white;
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: #00002E;
  --container-color: #FFF;

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}




/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}


html {
  scroll-behavior: smooth;
}

.underline {
  text-decoration: underline;
}


body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

p {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: white;
  text-align: center;
}

.section__height {
  height: 100vh;
}

.container {
  /* max-width: 968px; */
  /* max-width: 1868px; */
  max-width: 80%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.newPortfolioContainer {
  max-width: 968px;
  /* max-width: 1868px; */
  /* max-width: 80%; */
  margin-left: 1rem;
  margin-right: 1rem;
}




.containerTest {
  
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.experiencePtags {
  font-size: 20px;
}

.noListStyle {
  list-style: none;
}

.noPadding {
  padding: 0;
}


h3 {
  color: #FFF;
}

.titleTest {
  font-size: 27px;
  color: rgb(231, 243, 243);
}

.bigger {
  font-size: 22px;
  color: white;
}



/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(#24252A, black);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: white;
  font-weight: 600;
}


.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif
}

.nav__icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 1700px) {
  
  .containerTest {
    max-width: 1200px;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 1rem;
    margin-right: 1rem; */
  }

  #DmTitle {
    padding-top: 2%;
    color: rgb(255, 254, 253);
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
  }
  
.bigger {
  font-size: 18px;
  color: white;
  /* color: pink; */
}

li {
  color: white;
}

p {
  font-size: 10px;
  /* color: palegreen; */
}

}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    /* background-color: var(--container-color); */
    background-color: #16171A;

    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); 
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
   
  }
  .nav__link:hover {
    color: var(--first-color);
  }

}

@media screen and (min-width: 24px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .newPortfolioContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
